<div *ngIf="positionsWatched">
  <div>
    <h4>Watched Positions</h4>
    <button (click)="navigateToSubscribablePositions()" class="btn btn-primary">Watch New Position</button>
  </div>
  <br />
  <p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Job Id</th>
        <th>Subscription Level</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let positionWatched of filteredPositionsWatched">
        <td>
          <a [routerLink]="['/position-data/', positionWatched.$key]">{{ positionWatched.jobId }}</a>
        </td>
        <td>
          <select #subscriptionLevel="ngModel" [(ngModel)]="positionWatched.subscriptionLevel" name="subscriptionLevel" id="subscriptionLevel"
            (change)="onSubLevelChange(positionWatched.$key, positionWatched.jobId, $event.target.value)" class="form-control" required>
            <option *ngFor="let subLevel of subscriptionLevels" [value]="subLevel">
              {{ subLevel }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>
