<button type="button" [routerLink]="['/position-data/', positionId]" class="btn btn-secondary">Back to Position</button>
<br />
<br />
<ngb-tabset>
  <ngb-tab title="Applicant Status">
    <ng-template ngbTabContent>
      <app-applicant-status *ngIf="positionId && applicant" [positionId]="positionId" [applicant]="applicant"></app-applicant-status>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Applicant Details">
    <ng-template ngbTabContent>
      <app-user *ngIf="applicant" [user]="applicant.user" [readonly]="true"></app-user>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Applicant Documents">
    <ng-template ngbTabContent>
      <app-applicant-documents [applicantId]="applicantId"></app-applicant-documents>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
