<button *ngIf="!isAddSub; else addSub" routerLink="/dashboard" class="btn btn-secondary">Back to Dashboard</button>
<ng-template #addSub>
  <button routerLink="/positions-subscribable" class="btn btn-secondary">Back to Positions</button>
</ng-template>
<br />
<br />
<ngb-tabset>
  <ngb-tab title="Applicants">
    <ng-template ngbTabContent>
      <app-position-applicants [positionId]="positionId"></app-position-applicants>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Position Details">
    <ng-template ngbTabContent>
      <div *ngIf="position" class="card">
        <app-position-details [position]="position"></app-position-details>
        <app-position-subscription [userId]="userId" [position]="position"></app-position-subscription>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Position Owner">
    <ng-template ngbTabContent>
      <app-position-owner [position]="position"></app-position-owner>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
