<button routerLink="/dashboard" class="btn btn-secondary">Back to Dashboard</button>
<br />
<br />
<h4>Subscribable Positions</h4>
<p>
  <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</p>
<table class="table">
  <thead>
    <tr>
      <th>Position Id</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody *ngIf="filteredPositions">
    <tr *ngFor="let position of filteredPositions">
      <td>
        <a [routerLink]="['/position-data/', position.$key, {isAddSub:true}]">{{ position.positionId }}</a>
      </td>
      <td>{{ position.location }}</td>
    </tr>
  </tbody>
</table>
