<div *ngIf="notifications$ | async as notifications">
  <div>
    <a (click)="toggleNotificationPopout()">
      <i class="fa fa-shopping-cart"></i>
      <span *ngIf="unreviewedNotificationsCount > 0" class="badge badge-warning badge-pill">
        {{unreviewedNotificationsCount}}
      </span>
    </a>
  </div>
  <div *ngIf="isNotificationPopoutShown" class="notificationsPopOut">
    <div class="notificationHeader">
      <strong>Notifications</strong>
    </div>
    <div class="notificationsList">
      <ul>
        <li *ngFor="let notification of notifications">
          <app-notification [notification]="notification" [userId]="userId"></app-notification>
        </li>
      </ul>
    </div>
    <div class="notificationFooter"></div>
  </div>
</div>
