<div class="card">
  <div class="card-body">
    <table class="table" *ngIf="documents$ | async as documents">
      <thead>
        <tr>
          <th *ngIf="isPositionApply" class="text-center">Submit Document</th>
          <th>Document Name</th>
          <th>Date Uploaded</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents">
          <td *ngIf="isPositionApply" class="text-center">
            <input type="checkbox" (change)="onChange(document)" [checked]="isCheckboxChecked(document)">
          </td>
          <td>
            <a href="{{document.downloadURL}}">{{document.fileName}}</a>
          </td>
          <td>
            {{document.dateUploaded}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
